/* 20201007 Ben #11562 增加回覆區塊共用Style */
.attachment {
	/* background: #fcfced; */
	padding: 0 0 5px ; /* 20201017 message UI Style */
	display: inline-block;
	/* margin-bottom: 10px; */
	/* border-radius: 6px; */
	/* box-shadow: 0 0 3px rgba(0,0,0,0.4); */
	
	/* 20200930 Ben #11562 取消第二層結構陰影 */
	.attachment {
		box-shadow: none;
	}

	& .action {
		margin-top: 2px;
	}

	& .text-button {

		position: relative;

		display: inline-flex;

		min-width: 0;
		max-width: 220px;

		height: 28px;
		margin: 2px 2px 2px 0;
		padding: 0 10px;

		cursor: pointer;
		user-select: none;

		text-align: center;

		vertical-align: middle;
		white-space: nowrap;

		text-decoration: none;

		color: #2c2d30;

		border: 2px solid lightgray;
		border-radius: 4px;

		outline: none;

		background: rgb(250, 250, 250);

		font-size: 13px;

		font-weight: 500;
		align-items: center;
		-webkit-appearance: none;
		justify-content: center;
		-webkit-tap-highlight-color: transparent;
	}

	& .overflow-ellipsis {
		display: block;

		overflow: hidden;

		white-space: nowrap;

		text-overflow: ellipsis;
	}

	& .image-button {
		max-height: 200px;
	}

	& .horizontal-buttons {
		display: inline;
	}
}
